<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>{{quest.name}} - Quest details</title>
  </head>
  <body>
    <div class="container">
        <h1>{{quest.name}} (#{{quest.id}})</h1>
        <div class="card">
          <div class="card-body">
            {% for line in quest.desc %}
              {{line}}<br/>
            {% endfor %}
          </div>
        </div>
        Tasks:
        <ol>
          {% for task in quest.tasks %}
            <li>
              <span class="badge badge-light">{{task.task_type}}</span>
              <ul>
                {% for subtask in task.subtasks %}
                  <li>{{subtask}}</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ol>
        Requires:
        <ul>
          {% for req in quest.requires %}
            <li><span class="badge badge-light">{{req.questline.name | default (value="Unknown")}}</span> {{req.name}} (<a href="/quest/{{req.id}}">#{{req.id}}</a>)</li>
          {% endfor %}
        </ul>
        Unlocks:
        <ul>
          {% for unl in quest.unlocks %}
            <li><span class="badge badge-light">{{unl.questline.name | default (value="Unknown")}}</span> {{unl.name}} (<a href="/quest/{{unl.id}}">#{{unl.id}}</a>)</li>
          {% endfor %}
        </ul>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>