<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quests completed</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Quests completed
      </h1>      
        {% for quest_date in quests %}            
            <h2 class="title is-2">{{quest_date.date}}</h2>
            {% for quest in quest_date.quests %}
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <p>
                            <strong>{{quest.name}}</strong> <small>@{{quest.user}}</small> <small>{{quest.time}}</small>
                            <br>
                            <div class="content">
                              {% for line in quest.desc %}
                                {{line}}<br/>
                              {% endfor%}
                            </div>                            
                              {% for q in quest.unlocks %}
                                {% if loop.first %}
                                  <h6 class="title is-6">Unlocks</h6>
                                  <div class="content">
                                {% endif %}
                                {{q.questline}}: {{q.name}} (#{{q.id}})<br/>
                                {% if loop.last %}
                                  </div>
                                {% endif %}
                              {% endfor%}
                            </p>
                        </div>
                    </article>
                    </div>
            {% endfor %}            
        {% endfor %}      
    </div>
  </section>
  </body>
</html>
