<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quests completed</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Quests completed
      </h1>      
        {% for quest_date in quests %}            
            <h2 class="title is-2">{{quest_date.date}}</h2>
            {% for quest in quest_date.quests %}
                <div class="box">
                    <article class="media">
                        <div class="media-content">                            
                            <span class="tag is-light">{{quest.questline}}</span> <strong>{{quest.name}}</strong> <a href="/quest/{{quest.id}}">(#{{quest.id}})</a> <small>@{{quest.user}}</small> <small>{{quest.time}}</small>
                              {% for q in quest.unlocks %}
                                {% if loop.first %}
                                  <h6 class="title is-6">Unlocks:</h6>
                                  <div class="content"><ul>
                                {% endif %}
                                <li><span class="tag is-light">{{q.questline}}</span> {{q.name}} <a href="/quest/{{q.id}}">(#{{q.id}})</a></li>
                                {% if loop.last %}
                                  </ul></div>
                                {% endif %}
                              {% endfor%}                            
                        </div>
                    </article>
                    </div>
            {% endfor %}            
        {% endfor %}      
    </div>
  </section>
  </body>
</html>
